#boards {
    background-color: green;
}

#root{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.rename-normal{
    display: inline-block;
}

.rename-hidden{
    display: none;
}

.show{
    visibility: visible;
}
.hide{
    visibility: hidden;
}